.flex-container-header{
    display: flex;
    justify-content: space-between
}


.flex-container-header a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin:5px
    
}

.flex-container-header a:hover{
    border-radius: 5px;
    border: 2px solid white;
}

.flex-container-header a:nth-child(2){
    margin-left:50%;
    border-radius: 5px;

}



.title{
    margin-left:40%;
}

body{
    background-color: rgb(36,51,61);
}


.flex-container-body{
    display: flex;
    margin-left:15%;
    margin-top: 5%;
    background-color: rgb(26,41,51);
    width:70%;
}

.flex-item-body{
    margin:10%;
    font-size: 15px;
}

form input{
    width: 100%;
}

button{
    margin-left: 40%;
}

a{
    text-decoration: none;
    color:black
}


h2,h3,h5,pre{
    color:white;
}

