.flex-container-header{
    display: flex;
    /* background-color: rgb(4, 8, 8); */
}


.flex-container-header a{
    text-decoration: none;
    margin:10px;
    color: white;
    font-size: 20px;
    justify-content: flex-end;    
}

.flex-container-header a:hover{
    border-radius: 5px;
    border: 2px solid white;
}

.flex-container-header a:nth-child(2){
    margin-left:64%
}

h2{
    margin-left:40%;
    /* margin-top: 10%; */
}
body .flex-container-body{
    display: flex;
    margin-left:20%;
    margin-top: 5%;
    background-color: rgb(26,41,51);
    width:55%;
    
}

body .flex-item-body{
    /* width: 20%; */
    margin:10%;
    /* margin-left:15%; */
    /* padding:10% */
}

form input{
    width: 100%;
}

button{
    margin-left: 40%;
}

a{
    text-decoration: none;
}

/* .home{
    background-image: url('/Flask/login app/assets/wallpaper.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
h2,h3,h5,pre{
    color:white;
}

.home{
    background-color: rgb(36,51,61);

}