.flex-header{
    display:flex;
}

.flex-header .header-item{
    margin:10px;
    color:white;
    text-decoration:none;
    font-size:20px
}

.flex-header a:nth-child(2){
    margin-left: 70%;
}




h1,h2,h3,h5,pre,label{
    color:white;
}

body{
    background-color: rgb(36,51,61);

}

.flex-container-body{
    display: flex;
    margin-left:40%;
    margin-top: 5%;
    background-color: rgb(26,41,51);
    width:25%;
    justify-content: center;
    align-items: center;
}

.flex-item-body{
    margin:10%;
}

form,.entry,.submit{
    width: 100%;
}