<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <a href="/profile/settings">Settings</a>
    <a href="/delete">Delete Account</a>
    <h1>
        hey there {{username}}
    </h1>

    <main>
        <ul>
            {% for each in user_attr %}
            <li>{{ each }}</li>
            {% endfor %}
        </ul>
        
    </main>
</body>
</html>