<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Create Account</legend>
            <form action=""method="POST">
                <label for="username">Username:</label><br>
                <input type="text" placeholder="username" name="username">
                <br>
                <br>
                <label for="email">Email:</label><br>
                <input type="text" placeholder="Email" name="email">
                <br>
                <br>
                <label for="password">Password</label><br>
                <input type="password" placeholder="password" name="password">
                <br>
                <br>
                <label for="password2">Re-enter Password</label><br>
                <input type="password" placeholder="password" name="compare-password">
                <br>
                <br>
                <input type="submit">
            </form>
    </fieldset>
    
</body>
</html>