<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='register2.css')}}">
</head>

<header class="flex-container-header">
    <a href="" class="flex-item">Website Name</a>
    <a href="/" class="flex-item">Home</a>
    <a href="" class="flex-item">Shop</a>
    <a href="" class="flex-item">About Us</a>
    <a href="" class="flex-item">Contact</a>
</header>

<body>
    
    
    <div class="flex-container-body">
        <div class="flex-item-body">
            <h1 class="flex-item-body">Finish Profile</h1>
                <form action=""method="POST" autocomplete="on">
                    <input type="radio" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" name="gender" value="female">
                    <label for="female">Female</label><br>
                    <br>
                    <label for="age">Age:</label><br>
                    <input type="age" placeholder="age" name="age" class="entry">
                    <br>
                    <br>
                    <label for="job">Job</label><br>
                    <input type="text" placeholder="Job" name="job" class="entry">
                    <br>
                    <br>
                    <label for="Location">Location</label><br>
                    <input type="text" placeholder="Location" name="location" class="entry">
                    <br>
                    <br>
                    <input type="checkbox" name="terms-of-service">
                    <label for="terms-of-service">By continuing, you agree to {Website Name} Conditions of Use and Privacy Notice.</label> <br>
                    <br>
                    <input type="submit" class="submit">
                </form>
        </div>
        
    </div>
    
</body>
</html>