<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <a href="/profile/settings">Settings</a>
    <main>
        <form method="POST">
            <input type="radio" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" name="gender" value="other">
            <label for="other">Other</label><br><br>
            <label for="age">Age:</label>
            <input type="text" name="age"><br>
            <label for="job-role">Enter Job Title:</label>
            <input type="text" name="job-role"><br>
            <label for="location">Enter your location:</label>
            <input type="text" name="location"><br><br>
            <input type="submit">
        </form>
    </main>
</body>
</html>