<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='settings.css')}}">

</head>
<body>
    <header class="flex-header">
        <a href="/" class="header-item">Home</a>
        <a href="/logout" class="header-item">Logout</a>
        <a href="/profile/settings" class="header-item">Settings</a>
        <a href="/delete" class="header-item">Delete Account</a>
        
    </header>
    

    <main>
        <div class="flex-container-body">
            <div class="flex-item-body">
                <h1 class="flex-item-body">Update Profile</h1>
                    <form action=""method="POST" autocomplete="on">
                        <input type="radio" name="gender" value="male">
                        <label for="male">Male</label><br>
                        <input type="radio" name="gender" value="female">
                        <label for="female">Female</label><br>
                        <br>
                        <label for="age">Age:</label><br>
                        <input type="age" placeholder="age" name="age" class="entry">
                        <br>
                        <br>
                        <label for="job">Job</label><br>
                        <input type="text" placeholder="Job" name="job" class="entry">
                        <br>
                        <br>
                        <label for="Location">Location</label><br>
                        <input type="text" placeholder="Location" name="location" class="entry">
                        <br>
                        <br>
                        <br>
                        <input type="submit" class="submit">
                    </form>
            </div>
            
        </div>
    </main>
</body>
</html>